notebook==6.5.6
coveralls
nose2
pyyaml
pytest
GitPython
selenium
jupyterhub
docker-py==1.10.6
docker==2.7.0
-e git+https://github.com/jupyter/dockerspawner.git@fdf5577ca2b4087a064507cca8b250e4ad792e02#egg=dockerspawner
gitdb2